.chatDiv {
    padding: 10px;
    height: 376px;
    overflow-y: scroll;
    margin: 10px 0 10px;
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 12px;
  }



/* Handle */
.chatDiv::-webkit-scrollbar {
  display: none;
}

  .chatForm {
    height: 10px;
    margin: 10px 0 10px;
    font-size: 1.5rem;
  }
  .chatForm > form{
    display: flex;
  }
 
  
  
  .msgInput {
    line-height: 1.5;
    font-size: 17px;
    outline: none;
    width: 80%;
    border: none;
    padding: 5px;
  }
  
  .msgBtn {
    background-color: #60a8f0;
    width: 30%;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 1.25rem;
  }
  
  .msgBtn:disabled {
    opacity: 0.5;
    background-color: #E5E6E7;
    color: darkgrey;
    cursor: not-allowed;
  }
  

 
  
  .chatDiv p {
   
    max-width: 500px;
    margin-bottom: 12px;
    line-height: 24px;
    padding: 10px 20px;
    border-radius: 25px;
    color: white;
    text-align: center;
  }
  
  .message {
    display: flex;
    align-items: center;
  }
  
  
  .sent {
    flex-direction: row-reverse;
  }
  
  .sent p {
    color: white;
    background: #0b93f6;
    align-self: flex-end;
  }
  .received p {
    background: #e5e5ea;
    color: black;
  }
  
  .chatDiv img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 2px 5px;
  }
  
  .userImages{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin: 5px 5px 5px 5px;
  }