.container{
    border: 0px solid black;
    height: 130px;
    width: 16%;
    padding: 1%;
    background-color: #f3f2ee;
	margin-left: 70%;
	margin-top: 14%;
    

}
.element{
    color:#64635c;
    display: flex;
	font-size:12px;
	margin:3px;
	padding-left:3px;
	flex-wrap: wrap;
	justify-content: space-between;
     
}

.element1{
    color:#64635c;
    display: flex;
	font-size:12px;
	margin:3px;
	padding-left:3px;
	flex-wrap: wrap;
	justify-content: space-around;
     
}

   
	

div > div > div > div :hover{
	color: rgb(33, 117, 185);
    text-decoration:underline;

}

img{
	width:70%;
	margin-right:20px;
	margin-top:20px;
	height:50%;
}
.new3{
	display: flex;
	font-size: 12px;
}
.ac{
	margin:3%;
	margin-right:160px
}
.new31{
	display: flex;
	font-size: 11px;
	margin-right: 30px;
	margin-top: 20px;
}